<!DOCTYPE html>
<html lang="en-US" ng:app>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="book shop">
    <meta name="author" content="Chris Obniala">

    <title>Book Shop</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  
    <script src="js/control.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>

</head>
<body ng:controller="CartForm">
  
  <br>

  <div class="container" id="tname">
    <p style="font-size: 60px; text-align: center">The Online Book Shop<p>
  </div>
  <br>
  <div class="container" id="welcome">
    <div class="container">
      <ul class="nav">
        <li><p class="navbar-text navbar-right" id="funds"> </p></li>
        <li><p class="navbar-text navbar-right" id="name"></p></li>
      </ul>
    </div>
  </div>
  <br>
    <div class="container">
      <div class="container">
    
      <a href="index.html">Return to Shopping</a>
    </div> <br>
    <div class="well" style="height:auto" ng:init="retrieve()">
              <table class="table">
                <tr ng:repeat="item in invoice.items">
                  
                  <td style="padding-top:30px">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <img ng:src="{{item.sorc}}" style="width:100px;">
                    </div>
                </div>
                  </td>
                  <td style="padding-top:30px">
                    <br>
                    {{item.description}}
                    <br>
                    P {{item.qty * item.cost}}
                    <br><br>
                    {{item.detail}}
                    <br><br>
                    <a ng:click="removeItem(item.description)"><p style="text-align: right;">Remove from Cart</font></p></a>
                  </td> 
                </tr>
              </table>
              <a class="btn btn-warning" type="button" href="finish.html" style="float: right;">Purchase</a>
              <br><br>
            </div>
            </div>
            <script type="text/javascript">
      document.getElementById("name").innerHTML = "Welcome " + JSON.parse(localStorage.getItem("name")) + "!";
        document.getElementById("funds").innerHTML = "Funds: P " + JSON.parse(localStorage.getItem("funds"));
    </script>
<body>
</html>