<!DOCTYPE html>
<html lang="en-US" ng:app>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="book shop">
    <meta name="author" content="Chris Obniala">

    <title>Book Shop</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  
    <script type="text/javascript" src="js/control.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng:controller="CartForm">
	<br>
	<div class="container" id="tname">
		<p style="font-size: 60px; text-align: center">The Online Book Shop<p>
	</div>
	<br>
	<div class="container" id="welcome" style="line-height: 50px; height:50px">
		<p style="text-align:center">Thank you for your shopping! Here's your receipt.</p>
	</div>
	<br>
	<div class="container"  align="center" >
	 	<div class="well" style="height:auto; width:70%;" ng:init="retrieve()">
	 		<h2 style="text-align:center">Receipt</h2>
	 		<p style="text-align: left;">User</p>
	 		<table class="table">
	 			<tr>
	 				<p style="text-align: left;">Total Items: {{my()}}</p>
	 			</tr>
	 			<tr ng:repeat="item in invoice.items">
	 				<td>
	 					<p >{{item.description}}</p>
	 				</td>
	 				<td>
	 					<p style="text-align: right;">P {{item.cost}}</p>
	 				</td>
	 			</tr>
	 		</table>
	 		<hr style="height:2px; border:none; color:gray; background-color:gray;">
	 		<h3 style="text-align: right;">Total: P {{total()}}</h3>
	 	</div>
	 	<div class="container" style="height:auto; width:70%;">
	 	<a href="index.html" ng:click="clearloc()"><p style="text-align: right;">Shop Again</p></a>
	 </div>
    </div>
<body>
</html>