<!DOCTYPE html>
<html lang="en-US" ng:app>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="book shop">
    <meta name="author" content="Chris Obniala">

    <title>Book Shop</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  
    <script type="text/javascript" src="js/control.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng:controller="CartForm">
	<br>
	<div class="container" id="tname">
		<p style="font-size: 60px; text-align: center">The Online Book Shop<p>
	</div>
	<br>
	<div class="container" id="welcome">
		<div class="container">
			<ul class="nav">
				<li><p class="navbar-text navbar-right" id="funds"> </p></li>
				<li><p class="navbar-text navbar-right" id="name"></p></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="container">
	 	<div class="row row-offcanvas row-offcanvas-right">
	        <div class="col-lg-9">
	        	<div class="well" style="height:auto">
	        		<div class="row">
	        			<div class="col-lg-9">
		        			Search: <input ng:model="search" style="width:60%">
			      		</div>
	        		</div>
	        	</div>

	        	<div class="col-lg-3" ng:repeat="product in store.products | filter:search">
              		<div class="panel panel-default">
						<div class="panel-body">
						  	<div class="parent">
						    	<img ng:src="images/{{product.src}}.jpg" style="width:145px;" class="img-responsive center-block">
						  		<div class="inner">
						  			<a ng:click='addItem("images/"+product.src+".jpg", product.title, product.price, product.desc, $index); custom = !custom'><img src="images/add.png" style="width:40px;" ng:show="custom"></a>
						  			<a ng:click="removeItem(product.title); custom = !custom"><img src="images/minus.png" style="width:40px;" ng:hide="custom"></a>
						  		</div>
						  	</div>
						</div>
						<div class="panel-footer">
						  	<li style="list-style-type: none; text-align: center">{{product.title}}</li>
						  	<li style="list-style-type: none; text-align: center">P {{product.price}}</li>
						  	<li style="list-style-type: none; text-align: center">In Stock: {{product.stock}}</li>
						</div>
					</div>
            	</div>
            </div>     
            <div class="col-lg-3 sidebar-offcanvas-right" id="sidebar">
		        <div class="well" style="height:auto;" ng:init="retrieve()">
		        	<table class="table">
		        		<tr>
		        			<td>Cart Total:</td>
		        			<td>P {{total()}}</td>
		        		</tr>
		        		<tr>
		        			<td>Your Cart</td>
		        			<td>({{my()}})</td>
		        		</tr>
		        		<tr ng:repeat="item in invoice.items track by $index">
		        			<td style="padding-top:30px">
		 						<div class="panel panel-default">
								  	<div class="panel-body">
								    	<img ng:src="{{item.sorc}}" style="width:70px;">
								  	</div>
								</div>
		        			</td>
		        			<td style="padding-top:30px">
		        				{{item.description}}
		        				<br>
		        				P {{item.qty * item.cost}}
		        				<br><br><br><br><br>
		        				<a ng:click="removeItem(item.description); custom"><p><font size="1">Remove from Cart</font></p></a>
		        			</td>	
		        		</tr>
		        	</table>
		        	<a class="btn btn-warning" type="button" href="checkout.html" style="float: right;">Checkout</a>
		        	<br>
		        	<br>
		        </div>
        	</div>
      	</div>
    </div>
    <script type="text/javascript">
    	document.getElementById("name").innerHTML = "Welcome " + JSON.parse(localStorage.getItem("name")) + "!";
        document.getElementById("funds").innerHTML = "Funds: P " + JSON.parse(localStorage.getItem("funds"));
    </script>
<body>
</html>