.parent{
    position: relative;
}

.inner{
    position: absolute;
    bottom: 5px;
    left: 100px;
}

#welcome{
  background: -webkit-linear-gradient(#0099FF, #00CCFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0099FF, #00CCFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0099FF, #00CCFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0099FF, #00CCFF); /* Standard syntax */
  width: auto;
  color: white;
}

@font-face {
    font-family: "CherryCreamSoda";
    src: url("../fonts/CherryCreamSoda.ttf");
}

#tname{
	font-family: 'CherryCreamSoda';
}

#borderless{
  border: none;
}